/* line 1, ../sass/nb.scss */
body {
  margin: 0;
  /*display:none;*/
}
a:link {
    color: transparent;
}
a:visited {
    color: transparent;
}
a:hover {
    color: transparent;
}
a:active {
    color:transparent;
}

/* line 5, ../sass/nb.scss */
.nbcontainer {
  color: white;
  position: fixed;
  top: 0;
  margin: 0 auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 10px;
  /*width: 90%;*/
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color:black;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.nb{
  width:90%;
  margin:0 auto;
  display:block;
}
@media only screen and (max-width: 768px) {
  /* line 5, ../sass/nb.scss */
  .nbcontainer {
    width: 100%;
    padding: 0;
  }
}

/* line 25, ../sass/nb.scss */
.togbut {
  display: none;
  padding-right: 10px;
  cursor: pointer;
}

/* line 30, ../sass/nb.scss */
.logopic {
  height: 80px;
}

/* line 33, ../sass/nb.scss */
.nbpart {
  height: 80px;
  display: inline-block;
  /*width: 3;*/
}
@media only screen and (max-width: 768px) {
  /* line 33, ../sass/nb.scss */
  .nbpart {
    width: 49%;
  }
}

/* line 54, ../sass/nb.scss */
.menulist {
  font-size: 17px;
  line-height: 4.5;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media only screen and (max-width: 768px) {
  /* line 68, ../sass/nb.scss */
  .menulist .togbut {
    display: block;
  }
  /* line 71, ../sass/nb.scss */
  .menulist .opt {
    display: none;
  }
}

/* line 76, ../sass/nb.scss */
.opt {
  display: inline-block;
  padding:10px;
  cursor:pointer;
}

.opt i{
  padding-right:5px;
}

/* line 80, ../sass/nb.scss */
#resmenu {
  position: fixed;
  top: 80px;
  opacity: 0;
  width: 0%;
  margin-left: auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  color: white;
  max-height: 156px;
  padding-top: 30px;
  background-color: darkblue;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

/* line 95, ../sass/nb.scss */
.dropdownanim {
  animation: dropdown 0.3s;
  animation-fill-mode: both;
}

@keyframes dropdown {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/* line 118, ../sass/nb.scss */
.dropupanim {
  animation: dropup 0.3s;
  animation-fill-mode: both;
}

@keyframes dropup {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
  }
}
/* line 141, ../sass/nb.scss */
.resmenulist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 146, ../sass/nb.scss */
.resmenulist li {
  padding: 10px;
}

/* line 151, ../sass/nb.scss */
.xs {
  color: black;
}

/* line 155, ../sass/nb.scss */
.body2 {
  margin-top: 100px;
}
 .logo{
  width:30%;
 }

 .menu{
  width:69%;
 }

 @media only screen and (max-width:1000px){
  .logo{
    width:17%;
    /*min-width: 105px;*/
  }
  
  .menu{
    width:82%;
  }
  .menulist{
    font-size:13.5px;
    line-height:5.5;
  }
 }


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  display:block;
  line-height: 3.5;
  text-align:center;
  text-decoration: none;
  color:black;
  padding:0 5px;
}

.dropdown-content a:hover{
  background-color:lightgrey;
}

.dd1:hover .ddc1 {
  display: block;
}
.dd2:hover .ddc2 {
  display: block;
}

.productheader{
  font-family: 'Rubik', sans-serif;
  color:black;
}

.productname{
  font-weight:bold;
  font-size:30px;
  width:50%;
  display:inline-block;
  padding-left: 30px;

}

.download-button{
  width:40%;
  display:inline-block;
}

.but{
  text-align:center;
  width:200px;
  padding:7px;
  margin:0 auto;
  display:block;
  border:2px solid #2153a2;
  background-color: #2153a2;
  color:white;
  border-radius:5px;
}

.productdesc{
  font-family: 'Rubik', sans-serif;
}
.producttxt, .productprop{
  display:inline-block;
}
.producttxt{
  /*float:left;*/
  vertical-align: top;
  width:60%;
  padding:20px;
}
.productprop{
  width:30%;
  font-size:13px;
}
.proplist{
  list-style-type: none;
}
.prophead{
  font-weight: bold;
  /*margin:5px;*/
}
.prop{
  padding:20px;
}
.txts{
  padding-bottom:100px;
}
.pic{
  display:inline-block;
  width:150px;
}
.imgs img{
  width:150px;
  max-height:180px;
  margin:0 auto;
  display:block;
}
.indiv-prod{
  width:33%;
  display:inline-block;
}
.indiv-prod p{
  text-align:center;
}